
* {
  padding: 0;
  margin: 0;
  }
.gray-background{
  background: #f2f2f2;
}
.fixed{
  position: fixed;
}
.userMsgRow{
  margin-top:10%;
  text-align: center;
}
.hidden{
  overflow: hidden;
  
}
.headerTopBack{
  background-color: rgba(248, 248, 248, 0.9)
}
.piece-division{
  margin-top:20px;
  padding-right:10px;
}
